* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 100px;
    width: 150px;
}

nav .links {
    display: flex;
    list-style: none;
    margin: 0;
}

nav .links li {
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

.card img {
   
    object-fit: cover;
}

.card {
    overflow: hidden;
}